body{
    background-color : rgba(214, 147, 203, 0.466);
}
#tlright { color: pink;}
img {width: 1000x;
      height: 1000px;
}

#tleft { color: rgb(179, 96, 109);}
    
img {width: 100x;
          height: 100px;}
.button{
    background-color: rgb(0, 0, 0);
    border: none;
    color: rgb(0, 72, 206);
    padding: auto;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


    
